body{
    background-color:#404241;
}
#biere{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#lapin{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1{
    color: #F02923; /*le titre est en rouge*/
    font-size: 40px;/*titre de 40 pixel*/
    font-family:"arial black",arial,verdana,sans-serif;/*police*/
    font-weight:bold;/*titre en gras*/
    text-align: center;
}
h2{
    color: #F02923; /*les sous titres sont en blanc*/
    font-size: 20px;/*titre de 40 pixel*/
    font-family:"arial black",arial,verdana,sans-serif;/*police*/
    font-weight:bold;/*titre en gras*/
    text-align: center;
}
h4{
    color: #F02923; /*les sous titres sont en blanc*/
    font-size: 20px;/*titre de 40 pixel*/
    font-family:"arial black",arial,verdana,sans-serif;/*police*/
    font-weight:bold;/*titre en gras*/
    text-align: center;
}
p, a{
    color: white; /*les paragraphes sont en blanc*/
    font-size: 12px;/*titre de 40 pixel*/
    font-family:"arial black",arial,verdana,sans-serif;/*police*/
    font-weight:italic;/*titre en gras*/
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.8;
  }

  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn:hover .dropdown1:hover {
      background-color: #F02923;;
  }
  
  li.dropdown .dropdown1{
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {  background-color: #F02923;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }